---
---
<div class="our-clients-intro">
  <span class="compliance-certifications">Compliance and Certifications</span><span
    class="global-compliance-standards">Built to meet global compliance standards with industry-recognized
    certifications that safeguard your data and operations.</span>
</div>

<div class="rectangle-6e">
  <div class="flex-row">
    <div class="frame-6f">
      <div class="iso-logo"></div>
    </div>
    <div class="frame-70">
      <div class="frame-71">
        <div class="soc-noncpa-px-x"></div>
      </div>
    </div>
    <div class="frame-72">
      <div class="frame-73">
        <div class="kisspng-logo-brand-font-product-text-messaging"></div>
      </div>
    </div>
    <span class="compliance">Compliance</span>
  </div>
  <span class="compliance-text">We follow industry-leading security and compliance standards to
    safeguard your intellectual property. Built with SOC-aligned controls
    to ensure trust, transparency, and continuous protection.</span>
</div>

<style>
</style>
