---
---
<div class="group-74"></div>
<div class="rectangle-75">
  <div class="frame-76">
    <div class="company-section">
      <span class="company-section-77">Company Section<br /></span><span
        class="about-trexo-global-careers-contact-us-privacy-policy-terms-of-service">About Trexo
        Global<br />Careers<br />Contact Us<br />Privacy
        Policy<br />Terms of Service</span>
    </div>
    <div class="solutions">
      <span class="solutions-text">Solutions<br /></span><span
        class="ip-filing-docketing-automated-document-generation-ids-oa-management-portfolio-renewal-management-analytics-reporting">IP
        Filing & Docketing<br />Automated Document Generation<br />IDS
        & OA Management<br />Portfolio & Renewal Management<br />Analytics
        & Reporting</span>
    </div>
    <div class="resources-78">
      <span class="resources-text">Resources<br /></span><span
        class="faqs-tutorials-guides-release-notes-blog-insights-case-studies">FAQs<br />Tutorials &
        Guides<br />Release Notes<br />Blog /
        Insights<br />Case Studies</span>
    </div>
    <div class="connect">
      <span class="connect-text">Connect<br /></span><span
        class="linkedin-x-instagram">LinkedIn<br />X<br />Instagram</span>
    </div>
  </div>
  <div class="line-79"></div>
  <div class="frame-7a">
    <span class="trexo-global">© 2025 Trexo Global</span><span class="all-rights-reserved">All Rights
      Reserved</span>
  </div>
  <div class="trexo-blue-7b"></div>
  <div class="trexo-blue-7c"></div>
</div>

<style>
</style>
