---
---
<div class="group-74"></div>
<div class="rectangle-75">
  <div class="frame-76">
    <div class="company-section">
      <span class="company-section-77">Company Section<br /></span><span
        class="about-trexo-global-careers-contact-us-privacy-policy-terms-of-service">About Trexo
        Global<br />Careers<br />Contact Us<br />Privacy
        Policy<br />Terms of Service</span>
    </div>
    <div class="solutions">
      <span class="solutions-text">Solutions<br /></span><span
        class="ip-filing-docketing-automated-document-generation-ids-oa-management-portfolio-renewal-management-analytics-reporting">IP
        Filing & Docketing<br />Automated Document Generation<br />IDS
        & OA Management<br />Portfolio & Renewal Management<br />Analytics
        & Reporting</span>
    </div>
    <div class="resources-78">
      <span class="resources-text">Resources<br /></span><span
        class="faqs-tutorials-guides-release-notes-blog-insights-case-studies">FAQs<br />Tutorials &
        Guides<br />Release Notes<br />Blog /
        Insights<br />Case Studies</span>
    </div>
    <div class="connect">
      <span class="connect-text">Connect<br /></span><span
        class="linkedin-x-instagram">LinkedIn<br />X<br />Instagram</span>
    </div>
  </div>
  <div class="line-79"></div>
  <div class="frame-7a">
    <span class="trexo-global">© 2025 Trexo Global</span><span class="all-rights-reserved">All Rights
      Reserved</span>
  </div>
  <div class="trexo-blue-7b"></div>
  <div class="trexo-blue-7c"></div>
</div>

<style is:global>
  /* ==========================================================
     FOOTER STYLES (moved from global.css)
     ========================================================== */
  .group-74 {
    position: absolute;
    width: 1250.942px;
    height: 1180.522px;
    top: 4735px;
    left: 778px;
    background: url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2026-02-16/wQiN1y9Eqm.png) no-repeat center;
    background-size: cover;
    z-index: 1;
  }

  .rectangle-75 {
    position: absolute;
    width: 1440px;
    height: 496px;
    top: 5236px;
    left: 0;
    background: #fdfdfd;
    z-index: 2;
  }

  .frame-76 {
    display: flex;
    align-items: flex-start;
    flex-wrap: nowrap;
    gap: 130px;
    position: relative;
    width: 1128px;
    margin: 118px 0 0 156px;
    z-index: 134;
  }

  .company-section {
    flex-shrink: 0;
    position: relative;
    width: 159px;
    font-family: Lato, var(--default-font-family);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    text-overflow: initial;
    white-space: nowrap;
    z-index: 135;
  }

  .company-section-77 {
    position: relative;
    color: #232427;
    font-family: Lato, var(--default-font-family);
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    text-align: left;
  }

  .about-trexo-global-careers-contact-us-privacy-policy-terms-of-service {
    position: relative;
    color: #232427;
    font-family: Lato, var(--default-font-family);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
  }

  .solutions {
    flex-shrink: 0;
    position: relative;
    width: 264px;
    font-family: Lato, var(--default-font-family);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    text-overflow: initial;
    white-space: nowrap;
    z-index: 136;
  }

  .solutions-text {
    position: relative;
    color: #232427;
    font-family: Lato, var(--default-font-family);
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    text-align: left;
  }

  .ip-filing-docketing-automated-document-generation-ids-oa-management-portfolio-renewal-management-analytics-reporting {
    position: relative;
    color: #232427;
    font-family: Lato, var(--default-font-family);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
  }

  .resources-78 {
    flex-shrink: 0;
    position: relative;
    width: 153px;
    font-family: Lato, var(--default-font-family);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    text-overflow: initial;
    white-space: nowrap;
    z-index: 137;
  }

  .resources-text {
    position: relative;
    color: #232427;
    font-family: Lato, var(--default-font-family);
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    text-align: left;
  }

  .faqs-tutorials-guides-release-notes-blog-insights-case-studies {
    position: relative;
    color: #232427;
    font-family: Lato, var(--default-font-family);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
  }

  .connect {
    flex-shrink: 0;
    position: relative;
    width: 94px;
    font-family: Lato, var(--default-font-family);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    text-overflow: initial;
    white-space: nowrap;
    z-index: 138;
  }

  .connect-text {
    position: relative;
    color: #232427;
    font-family: Lato, var(--default-font-family);
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    text-align: left;
  }

  .linkedin-x-instagram {
    position: relative;
    color: #232427;
    font-family: Lato, var(--default-font-family);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    text-decoration: underline;
  }

  .line-79 {
    position: relative;
    width: 1128px;
    height: 0.5px;
    margin: 173.5px 0 0 156px;
    background: url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2026-02-16/ABmz7AS4KY.png) no-repeat center;
    background-size: cover;
    z-index: 129;
  }

  .frame-7a {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
    position: relative;
    width: 643px;
    margin: 16px 0 0 156px;
    z-index: 131;
  }

  .trexo-global {
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    height: 24px;
    color: #232427;
    font-family: Lato, var(--default-font-family);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    white-space: nowrap;
    z-index: 132;
  }

  .all-rights-reserved {
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    height: 24px;
    color: #232427;
    font-family: Lato, var(--default-font-family);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    white-space: nowrap;
    z-index: 133;
  }

  .trexo-blue-7b {
    position: absolute;
    width: 1440px;
    height: 112px;
    top: 289px;
    left: 0;
    background: url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2026-02-16/zgZJ71Uygz.png) no-repeat center;
    background-size: cover;
    z-index: 127;
  }

  .trexo-blue-7c {
    position: absolute;
    width: 1128px;
    height: 88px;
    top: 313px;
    left: 156px;
    background: url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2026-02-16/EK7BwxSqcK.png) no-repeat center;
    background-size: cover;
    z-index: 130;
  }
</style>

