---
---
<nav class="navbar">
  <div class="nav-container">
    <div class="logo">
      <svg width="250" height="20" viewBox="0 0 250 20" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M12.8 14.8H8.4V4.4H0.8V0.8H20.4V4.4H12.8V14.8ZM33.2 14.8H27.8V0.8H38.2C40.6 0.8 42.4 1.4 43.6 2.6C44.8 3.8 45.4 5.4 45.4 7.4C45.4 8.8 45 10 44.2 11C43.4 12 42.4 12.8 41.2 13.4L46.4 14.8H40.6L36.2 13.4H33.2V14.8ZM33.2 9.8H37.8C38.6 9.8 39.2 9.6 39.6 9.2C40 8.8 40.2 8.2 40.2 7.4C40.2 6.6 40 6 39.6 5.6C39.2 5.2 38.6 5 37.8 5H33.2V9.8ZM58.8 14.8H53.2V0.8H69V4.4H58.8V6.2H67.6V9.8H58.8V11.2H69.2V14.8H58.8ZM82.4 14.8L79.4 10.4L76.4 14.8H70L76.2 6.2L70.4 0.8H76.6L79.4 5L82.2 0.8H88.4L82.6 6.2L88.8 14.8H82.4ZM103.8 14.8C102 14.8 100.4 14.4 99 13.6C97.6 12.8 96.6 11.6 95.8 10.2C95 8.8 94.6 7.2 94.6 5.4V0.8H100V5.4C100 6.4 100.2 7.2 100.6 8C101 8.8 101.6 9.4 102.2 9.8C102.8 10.2 103.6 10.4 104.4 10.4C105.2 10.4 106 10.2 106.6 9.8C107.2 9.4 107.8 8.8 108.2 8C108.6 7.2 108.8 6.4 108.8 5.4V0.8H114.2V5.4C114.2 7.2 113.8 8.8 113 10.2C112.2 11.6 111.2 12.8 109.8 13.6C108.4 14.4 106.8 14.8 105 14.8H103.8Z" fill="white"/>
        <path d="M136.6 15C134.2 15 132.2 14.4 130.4 13.2C128.6 12 127.4 10.4 126.6 8.4H132C132.6 9.4 133.4 10.2 134.4 10.8C135.4 11.4 136.4 11.6 137.6 11.6C138.8 11.6 139.8 11.4 140.6 10.8C141.4 10.2 141.8 9.6 141.8 8.8V8.6C141.8 8 141.6 7.6 141.2 7.2C140.8 6.8 140.2 6.4 139.6 6.2C139 6 138.2 5.8 137.4 5.6L135.2 5.2C133.8 5 132.6 4.6 131.4 4C130.2 3.4 129.2 2.6 128.6 1.8C128 1 127.6 0 127.6 -1V-1.2C127.6 -2.8 128 -4.2 128.8 -5.4C129.6 -6.6 130.8 -7.6 132.2 -8.4C133.6 -9.2 135.4 -9.6 137.4 -9.6C139.6 -9.6 141.4 -9.2 143 -8.2C144.6 -7.2 145.8 -5.8 146.4 -4H141.2C140.8 -4.8 140.2 -5.4 139.4 -5.8C138.6 -6.2 137.8 -6.4 136.8 -6.4C135.8 -6.4 135 -6.2 134.2 -5.8C133.4 -5.4 133 -4.8 133 -4.2V-4C133 -3.4 133.2 -3 133.6 -2.6C134 -2.2 134.6 -2 135.2 -1.8C135.8 -1.6 136.6 -1.4 137.4 -1.2L139.6 -0.8C141.2 -0.4 142.6 0 143.8 0.6C145 1.2 146 2 146.6 2.8C147.2 3.6 147.6 4.6 147.6 5.8V6C147.6 7.6 147.2 9 146.4 10.2C145.6 11.4 144.4 12.4 142.8 13.2C141.2 14.4 139.2 15 136.6 15ZM155.6 14.8H150.2V0.8H160.4C162.8 0.8 164.6 1.4 165.8 2.6C167 3.8 167.6 5.4 167.6 7.4C167.6 8.8 167.2 10 166.4 11C165.6 12 164.6 12.8 163.4 13.4L168.6 14.8H162.8L158.4 13.4H155.6V14.8ZM155.6 9.8H160.2C161 9.8 161.6 9.6 162 9.2C162.4 8.8 162.6 8.2 162.6 7.4C162.6 6.6 162.4 6 162 5.6C161.6 5.2 161 5 160.2 5H155.6V9.8ZM175.4 14.8H170V0.8H175.4V14.8ZM192.6 15C190.8 15 189.2 14.6 187.8 13.8C186.4 13 185.4 11.8 184.6 10.4C183.8 9 183.4 7.4 183.4 5.6V5.4C183.4 3.6 183.8 2 184.6 0.6C185.4 -0.8 186.4 -2 187.8 -2.8C189.2 -3.6 190.8 -4 192.6 -4H193.4C195.2 -4 196.8 -3.6 198.2 -2.8C199.6 -2 200.6 -0.8 201.4 0.6C202.2 2 202.6 3.6 202.6 5.4V5.6C202.6 7.4 202.2 9 201.4 10.4C200.6 11.8 199.6 13 198.2 13.8C196.8 14.6 195.2 15 193.4 15H192.6ZM193 11.4C194.2 11.4 195.2 11 196 10.2C196.8 9.4 197.2 8.2 197.2 6.8V6.6C197.2 5.2 196.8 4 196 3.2C195.2 2.4 194.2 2 193 2C191.8 2 190.8 2.4 190 3.2C189.2 4 188.8 5.2 188.8 6.6V6.8C188.8 8.2 189.2 9.4 190 10.2C190.8 11 191.8 11.4 193 11.4ZM212.8 14.8L209.8 10.4L206.8 14.8H200.4L206.6 6.2L200.8 0.8H207L209.8 5L212.6 0.8H218.8L213 6.2L219.2 14.8H212.8ZM231.8 14.8H226.4V0.8H231.8V14.8ZM242.4 14.8H237V0.8H247.2V4.4H242.4V6.2H251.2V9.8H242.4V11.2H252.8V14.8H242.4Z" fill="white"/>
      </svg>
    </div>
    <ul class="nav-links">
      <li><a href="#">Home</a></li>
      <li><a href="#">Solutions</a></li>
      <li><a href="#">Why June</a></li>
      <li><a href="#">Resources</a></li>
    </ul>
    <div class="nav-actions">
      <!-- Search Icon -->
      <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M11 19C15.4183 19 19 15.4183 19 11C19 6.58172 15.4183 3 11 3C6.58172 3 3 6.58172 3 11C3 15.4183 6.58172 19 11 19Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M21 21L16.65 16.65" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
      </svg>
    </div>
  </div>
</nav>

<style>
  .navbar {
    position: absolute;
    top: 40px; /* Exact from Figma */
    left: 0;
    width: 100%;
    z-index: 10;
  }

  .nav-container {
    max-width: var(--container-max-width);
    margin: 0 auto;
    padding: var(--content-padding); /* 156px sides */
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .nav-logo {
    display: flex;
    align-items: center;
  }

  .nav-links {
    display: flex;
    gap: 47px; /* Exact from Figma */
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .nav-links a {
    color: var(--color-white);
    text-decoration: none;
    font-family: var(--font-family);
    font-size: 16px;
    font-weight: 400;
  }

  .nav-actions {
    display: flex;
    align-items: center;
    gap: 20px;
  }
</style>
