---
---
<div class="rectangle-68">
  <div class="our-clients-content">
    <div class="our-clients-intro-69">
      <span class="hear-from-our-clients">Hear From Our Clients</span><span class="clients-experience">We
        believe that our clients' experiences speak volumes about the
        quality of our services. Here's what some of them have to
        say:</span>
    </div>
    <div class="carousel-slides">
      <div class="carousel-content">
        <div class="our-clients-quote">
          <span class="client-testimonial">Trexo has built amazing technology that gives us better
            access to accurate IP information. We are able to avoid
            potential issues with our IP data in a purely automated
            fashion. This frees up our valuable docketing staff to spend
            more time on their core day-to-day duties.</span><span class="business-owner">— David
            L., Business Owner</span>
        </div>
      </div>
      <div class="slideshow-nav-bar">
        <div class="left-arrow"></div>
        <div class="slideshow-navigation">
          <div class="ellipse-6a"></div>
          <div class="ellipse-6b"></div>
          <div class="ellipse-6c"></div>
          <div class="ellipse-6d"></div>
        </div>
        <div class="right-arrow"></div>
      </div>
    </div>
  </div>
</div>
<span class="testimonials">Testimonials</span>

<style>
</style>
